@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
        height: 100%;
    width: 100%;
    background-color: #dfdfdf; /* grey-ish white background*/
}
.gameWindow {
    width: 100%;
    height: 100%;
}
header {
    background-color: #dfdfdf; /* grey-ish white background*/
    color: white;
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1020;
}

nav {
    background-color: #343a40; /* dark background colour */
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #343a40; /* dark background coulor */
    color: white;
    text-align: center;
    padding: 1em;
}
.logo {
     width: 100px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}

/* Scene cards styling */
.card {
    border: 8px solid #cccccc; /*border for scene cards to make them stand out */
    border-radius: 8px;
    transition: transform .1s ease-in-out; /* Card transitions */
    overflow: hidden;

}

.card:hover {
    transform: scale(1.02); /* adds 2% to card size when mouse hovers */
}

.card-img-top {
    height: 300px; /* scene thumbnail heights */
    object-fit: cover; /* maintains aspect ratio for thumbnails */
}

/* Button styling */
.btn-primary {
    background-color: #8209c9; /* main button color */
    border-color: #6c0aa5;
}

.btn-primary:hover {
    background-color: #5a098a; /* darker color on mouse hover */
    border-color: #5a098a;
}